@elabcom rc file Version 1.0
[oh]
invokeDir = /public/yifanqu/c910/smart_run/work
hostCommand = -lib simv.daidir/work -saveLevel -elab simv.daidir/kdb -simflow -simdir simv.daidir/kdb_libs -top "ct_spsram_1024x128 ct_spsram_1024x144 ct_spsram_1024x32 ct_spsram_1024x59 ct_spsram_1024x92 ct_spsram_128x104 ct_spsram_128x144 ct_spsram_16384x128 ct_spsram\
_2048x128 ct_spsram_2048x144 ct_spsram_2048x59 ct_spsram_2048x88 ct_spsram_256x100 ct_spsram_256x144 ct_spsram_256x52 ct_spsram_256x54 ct_spsram_256x59 ct_spsram_256x7 ct_spsram_32768x128 ct_spsram_4096x128 ct_spsram_4096x144 ct_spsram_4096x32 ct_spsram_40\
96x84 ct_spsram_64x108 ct_spsram_65536x128 ct_spsram_8192x32 mp_top_golden_port top_golden_port tb" -Lf work +disable_message+C00380+C00381 +disable_message+C00388+C00389 -SNPS_ELABCOM -saveElab
simType = VCS
